* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0d7ff;
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  background-color: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.5s ease-out;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  color: #06283d;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}

.search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #06283d;
  text-transform: lowercase;
}

.search-box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #06283d;
  background-color: #d0d7ff;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}

.search-box button:hover {
  color: #fff;
  background-color: #06283d;
}

.search-box i {
  position: absolute;
  color: #06283d;
  font-size: 28px;
}

.weather-box {
  text-align: center;
}